<div class="header-main clearfix">
  <h1 class="site-title">
    <%= image_tag "Training-Essentials.jpg", :alt => "Training Essentials", :size => "250x35" %><br />

  </h1>
  <nav role="navigation" class="site-navigation primary-navigation">
    <h1 class="assistive-text">Primary Menu</h1>
    <div class="assistive-text skip-link">
      <a href="#content" title="Skip to content">Skip to content</a>
    </div>
    <div class="menu-main-menu-container">
      <ul id="menu-main-menu" class="menu">
        <li id="home-item" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
            <%= link_to "Home", {:controller => "pages", :action => "index"} %>
        </li>
        <li id="training-courses" class="menu-item menu-item-type-post_type menu-item-object-page">
          <a >Courses</a>
          <ul class="sub-menu">
            <li id="microsoft-menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-258">
              <%=  link_to "Microsoft", {:controller => 'pages', :action => 'microsoft', :id => nil} %>
<!--              < @microsoft_techs = Technology.find(:all, :select => 'DISTINCT tech') %>-->
              <% @microsoft_techs = Technology.find_all_by_category("Microsoft").map { |a| a.tech }.uniq %>
              <% if @microsoft_techs %>
               <ul class="sub-menu">
               <% @microsoft_techs.each do |list_item| %>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <%= link_to list_item, :controller => 'pages', :action => 'microsoft', :id => list_item %>
                  </li>
               <% end %>
               </ul>
              <% end %>
            </li>
            <li id="cisco-menu-items" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-260">
              <%=  link_to "Cisco", {:controller => 'pages', :action => 'cisco', :id => nil} %>
              <% @cisco_techs = Technology.find_all_by_category("Cisco").map { |a| a.tech }.uniq %>
              <% if @cisco_techs %>
                  <ul class="sub-menu">
                    <% @cisco_techs.each do |list_item| %>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                          <%= link_to list_item, :controller => 'pages', :action => 'cisco', :id => list_item %>
                        </li>
                    <% end %>
                  </ul>
              <% end %>

            </li>
            <li id="vmware-menu-items" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-265">
              <%=  link_to "VMware", {:controller => 'pages', :action => 'vmware', :id => nil} %>
              <% @vmware_techs = Technology.find_all_by_category("VMware").map { |a| a.tech }.uniq %>
              <% if @vmware_techs %>
                  <ul class="sub-menu">
                    <% @vmware_techs.each do |list_item| %>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                          <%= link_to list_item, :controller => 'pages', :action => 'vmware', :id => list_item %>
                        </li>
                    <% end %>
                  </ul>
              <% end %>
            </li>
            <li id="menu-item-259" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-259">
              <a href="officeapps.html">Apps/End-User</a>
            </li>
          </ul>
        </li>
        <li id="menu-item-264" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-264">
          <a href="certifications.html">
            Certifications
          </a>
        </li>
        <li id="menu-item-266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-266">
          <a href="preview.html">Audit & Preview</a>
        </li>
        <li id="menu-item-267" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-267">
          <a href="contactus.html">Contact Us</a>
        </li>
        <li id="menu-item-268" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-268">
          <a>1-855-TECH-007</a>
        </li>
      </ul>
    </div>
  </nav>
</div>