<h1>Editing discount</h1>

<% form_for(@discount) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :discount_level %><br />
    <%= f.text_field :discount_level %>
  </p>
  <p>
    <%= f.label :percentage %><br />
    <%= f.text_field :percentage %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @discount %> |
<%= link_to 'Back', discounts_path %>