<p>
  <b>Tech:</b>
  <%=h @technology.tech %>
</p>

<p>
  <b>Version:</b>
  <%=h @technology.version %>
</p>

<p>
  <b>Category:</b>
  <%=h @technology.category %>
</p>


<%= link_to 'Edit', edit_technology_path(@technology) %> |
<%= link_to 'Back', technologies_path %>